.Card {
  padding: 5px;
  box-sizing: border-box;
  font-size: 22px;
  margin-bottom: 12px;
}

.Card h2,
.Card p {
  margin: 0;
  padding: 0;
}

.Created {
  border: 2px solid rgb(2, 98, 177);
  background-color: rgb(172, 205, 255);
  color: rgb(2, 98, 177);
}

.Delete {
  border: 2px solid rgb(252, 72, 102);
  background-color: pink;
  color: rgb(252, 72, 102);
}

.Success {
  border: 2px solid rgb(2, 70, 2);
  background-color: rgb(26, 255, 37);
  color: rgb(2, 70, 2);
}

.Button {
  padding: 10px;
}
